.fa {
    padding: 35px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    /* background: #272727; */
    color: rgb(27, 27, 27);
    border-radius: 50px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .container{
    display: flex;
    justify-content: center;
    text-align: center;

  }
  /* .fa-twitter {
    color: white;

  }

  .fa-youtube {
    color: white;
  }

  .fa-instagram {
    color: white;
  } */