<div class="section">
    <app-image-banner-component imageToUse="../../assets/images/deerSheepbanner3.png"></app-image-banner-component>

</div>

<div class="section container">

    <h2>Contact us</h2>

    <div class="contact-row">
        <div>
            <form method="POST" action="https://formsubmit.co/e7650767e0d10363bed34a56a6a2fbdb">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" name="name" class="form-control" placeholder="Full Name" required="">
                        </div>
                        <div class="col">
                            <input type="email" name="email" class="form-control" placeholder="Email Address"
                                required="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea placeholder="Please tell us about your needs" class="form-control" name="note" rows="7"
                        required=""></textarea>
                </div>

                <button type="submit" value="Send Request" class="btn btn-lg btn-dark btn-block">Submit</button>
            </form>
        </div>
        <div>
            <img src="../../../assets/images/deerSheep.png" width="250" height="250" alt="image">
        </div>
    </div>

</div>