.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-group {
    margin-bottom: 1rem;
}

form {
    display: block;
    margin-top: 0em;
    padding-bottom: 5rem;
    width: 95%;
}

.form-row>.col,
.form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  input {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  .contact-row{
    display: flex;
    justify-content: center;
    
  }

  h2{
    text-align: center;
  }