<div class="section">
    <app-image-banner-component imageToUse="../../assets/images/deerSheepbanner.png"></app-image-banner-component>

</div>

<div class="section container">
    <p>Welcome to Deer Sheep Animation Studio a new up incoming indie studio who's mission is to create unique and interesting animations. </p>
    <br>
    <p>Nothing is perfect and that's okay because there is still charm in that. Even though mockbusters
        are seen as just some company cashgrab, we at Deer Sheep see them as a secondary form of art. its
        funny how absurd mockbusters can get and we strive to get weird or just ridiculous.</p>
</div>


