<div class="header">
    <div class=" container">
        <a routerLink="/home" class="logo"> <img src="../../assets/images/deerSheep_transperant_logo.png" alt="logo">
            Deer
            Sheep Animation Studios</a>
        <div class="header-right">
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="hamburger-icon" (click)="showLinks()">
                <i class="fa fa-bars"></i>
            </a>
            <div id="links">
                <a routerLink="/about-us">About Us</a>
                <a routerLink="/projects">Projects</a>
                <a routerLink="/contact-us">Contact Us</a>
            </div>

        </div>
    </div>


</div>