<div class="spaceBlock"></div>

<div class="section">
    <app-image-banner-component imageToUse="../../assets/images/deerSheepbanner4.png"></app-image-banner-component>

</div>

<div class="section container">

    <div class="row col-xs-4">
        <div style=" padding: 1rem;">
            <img src="../../assets/images/BI_poster_3.png" alt="logo">
            <h3>Batteries Included</h3>
        </div>
    </div>
    <div class="row col-xs-2">
  
    </div>
    <div class="row col-xs-6">
        <div>
            <article>It's the late 90s and Randy and Sarah are just like any other
                kid. The two siblings live with their mom and dad in a quaint
                corner of suburbia. And just like other children the two
                siblings have a colorful collection of toys, from dolls to
                homemade knick knacks to bombastic action figures. But
                unknown to both children their toys have a life of their own,
                and they don't always get along! Randy's toys, led by Will E.
                Rust a trusty robot sheriff, and Sarah's toys, led by Ms.
                Poppy a cute but killer plush bunny, live at odds with one
                another but enjoy a relative sense of peace (much like most
                siblings). Despite their differences, Randy's and Sarah's
                toys have a sort of peace treaty among them: whenever the
                family is away from home, the two groups watch TV together.
                One Friday evening the family is out on their own ritual:
                "weekend family together time" at the local pizza and arcade
                down the street. Seeing their opportunity, the toys rush to
                the downstairs living room to enjoy their usual ritual of
                watching TV. While bickering over what to watch, the toys
                notice a new commercial for a brand new toy store called the
                Toy Factory. As the commercial explains, the Toy Factory both
                manufactures toys and directly sells them to happy kids
                everywhere. Boasting cheap prices and excellent
                craftsmanship, the Toy Factory announces that it is opening
                next weekend. Coincidentally, next weekend happens to be
                Randy's birthday, but aside from that the toys believe this
                to be unimportant and resume their bickering. Not long after,
                however, the toys hear the family car pulling back into the
                driveway and make their way upstairs to return to their
                normal resting spots. After hearing the excited murmurs from
                Randy and Sarah downstairs, the toys soon discover the family
                did not just go to their usual hangout spot but were actually
                at a special promotional campaign for the Toy Factory. That's
                not all, as part of this campaign the family was given a
                special toy: a new and rare Spy toy.
                </article>
        </div>
    </div>
</div>