p {
    font-weight: bold;
    font-size: large;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

img {
    width: 300px;
    height: 500px;
}
article{
    padding-top: 10px;
    font-weight: 700;
}