<div class="spaceBlock"></div>

<div class="section">
    <app-image-banner-component imageToUse="../../assets/images/deerSheepbanner2.png"></app-image-banner-component>

</div>

<div class="section container">
  
    <p>200 years ago back in the distant past of the year 2023 one pioneer name Occult Tooner was traveling the wild landscape of the internet chatting with other travelers. 
        One day he encounter many like himself that enjoyed the low quality movies created to capitalized on more popular movies. So OccultTooner decided to create a his own studio;
        with a handful of friends and some stangers, they will slowly complete a mockbuster type of movie.
      </p>
</div>


